.imagen{
    max-width:100%;
}
nav {
background-image:url("fondo.jpg");
margin: 1.4rem auto;
}
h2 {
    font-size: 50px;
    margin-left: 43rem;
}
a{
    cursor:pointer;
}
.alerta{
    font-weight:700;
}
#vaciarCarrito {
background-color: rgb(9, 2, 4);
border-color: black;
}

#cerrar {
background-color: rgb(238, 76, 39);
border-color: rgb(234, 40, 40);
}

body{
    background-color: #E3D8D6;
    overflow-x: hidden;
}
#contenedor {
    transition: box-shadow 0.3s ease ;
    display: flex;
    cursor: pointer;
}
main div:hover {
    box-shadow: 0 0.1rem 0.5rem rgba(50, 47, 47, 0.5);
  }
.modal-contenedor{
    display:flex;
    align-items: center;
    gap:2rem;
}
.img-carrito{
    width:200px;
    padding:20px;
} 
.modal-content{
    background-color: #E3D8D6;
    
}
.parrafo{
    font-weight: 900;
    font-style: italic;
}
#precioTotal{
    font-weight: 580;
    margin:-20px;
    padding:20px;
    color: rgb(253, 49, 8);
    font-size: 1.5rem;
}
a{
    text-decoration: none;
}
.boton{
    opacity:0;
}